body{
    background-color: #d6e1f0; 
    ;
}
h1{
    color: #000000;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin: 30px 1px 1px 10px;
    
    
    
}
p{
    color: #6b6565;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 400;

    
}
*{
    text-align: center;
    

}
img{
    height: 100%;
    width: 100%;
    border-radius: 10px;

}
#img-container{
    width: 300px;
    height: 300px;
    border-radius: 10x;
    transform: translate(20px, 20px);
}
#secondary-container{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 9cm;
    height: 14cm;
    border-radius: 10px;
    margin: 100px auto;
    box-shadow: 5px 5px 50px hsla(217, 45%, 22%, 0.14) ;
   
    
}
#primary-container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
@media (min-width: 0px) and (max-width: 440px){
    #secondary-container{
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        width: 8cm;
        height: 14cm;
        border-radius: 10px;
        margin: 100px auto;
        box-shadow: 5px 5px 50px hsla(217, 45%, 22%, 0.14) ;
    }
    #img-container{
        width: 250px;
        height: 250px;
        border-radius: 10px;
        transform: translate(20px, 20px);
    }
    h1{
        color: #000000;
        font-family: 'Outfit', sans-serif;
        font-weight: 700;
        font-size: 22px;
        margin: 3px 10px 10px 10px;
        
        
    }
    p{
        color: #6b6565;
        font-family: 'Outfit', sans-serif;
        font-weight: 400;
        font-size: 15px;   
    }
}
   